<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net461" />
  <package id="jabber-net" version="2.1.2.0" targetFramework="net461" />
  <package id="RavenDB.Client" version="3.0.30037" targetFramework="net461" />
  <package id="RavenDB.Database" version="3.0.30037" targetFramework="net461" />
  <package id="RavenDB.Embedded" version="3.0.30037" targetFramework="net461" />
  <package id="Suave" version="1.0.0" targetFramework="net461" />
</packages>